body {
    background-color: #141414;
}

.offer {
    color: white;
    font-family: 'Airbnb Cereal App Bold', sans-serif;
    font-size: 36px;
    display: inline-block;
    margin-top: 112px;
    margin-left: 174px;
}

.content {
    font-family: 'Airbnb Cereal App Medium';
    font-size: 14px;
    margin-left: 116px;
    width: 650px;
    display: inline-block;
    letter-spacing: 0.4px;
    color: white;

}

.none {
    margin-left: 174px;
    font-family: 'Airbnb Cereal App Medium', sans-serif;
    color: #d4d4d4;
    font-size: 14px;
}

.recent {
    font-family: 'Airbnb Cereal App Medium', sans-serif;
    color: white;
    margin-left: 174px;
    margin-top: 72px;
    font-size: 16px;
}

.logo {
    font-family: 'Playfair Display Black', serif;
    font-weight: normal;
    color: white;
    margin-top: 70px;
    display: inline-block;
    margin-left: 174px;
    font-size: 36px;
    letter-spacing: 1.1px;
}

.menu {
    float: right;
    margin-right: 174px;
    margin-top: 94px;
    display: inline;
    list-style-type: none;
}

.menu li {
    margin-left: 28px;
    margin-right: 28px;
    display: inline-block;
}

.menu a {
    color: #d4d4d4;
    text-decoration: none;
    transition: 0.2s ease-out;
    font-family: 'Airbnb Cereal App Medium', sans-serif;
}

.menu a:hover {
    color: white;
    transition: 0.2s ease-in;
    cursor: pointer;
}