@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: unset;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #141414;
    font-family: 'PT Sans', sans-serif;
    background-image: ("https://t3.ftcdn.net/jpg/01/77/57/54/500_F_177575431_To1Ju3wRHMjltiYsJKqFZy7JRgoHohD7.jpg");
}

.column1 {
    margin-top: 20%;
}

.header {
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 48px;
    letter-spacing: 14px;
    margin: 5px 10px 0 10px;
}

.header p {
    font-size: 18px;
    letter-spacing: 0.4px;
    margin: 12px 0 32px 0;
}

.underline-magical-active {
    background-image: linear-gradient(120deg, #ff9966 0%, #ff5e62 100%);
    background-repeat: no-repeat;
    background-size: 100% 88%;
    background-position: 0 88%;
    padding: 2px;
    transition: background-size 0.3s ease-in;
}

.underline-magical {
    cursor: pointer;
    background-image: linear-gradient(120deg, #ff9966 0%, #ff5e62 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    padding: 2px;
    transition: background-size 0.3s ease-in;
}
.underline-magical:hover {
    background-size: 100% 88%;
  }

/** BOTTOM MENU **/
#menu-items {
    width: 100%;
    text-align: center;
    position: fixed;
    background: #141414;
    padding: 16px;
    border: 1px solid #1a1a1a;
    top: 0;
}

#items {
    opacity: 100%;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    color: #b3b3b3;
    transition: 0.15s ease-in;
    margin: 0px 8px 0px 8px;
}

#items:hover {
    opacity: 100%;
    color: white;
}

/**BUTTONs**/
.posbuttonprimary {
    width: 100%;
    text-align: center;
}

button {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

/**PRIMARY**/
.primary-btn {
    background-color: #141414;
    padding: 8px 16px 8px 16px;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 2px;
    transition: 0.2s;
}

.primary-btn a {
    color: white;
    transition: 0.2s;   
}

.primary-btn a:hover {
    color: #141414;
    transition: 0.2s;
}

.primary-btn:hover {
    background: white;
    color: #141414;
    transition: 0.2s;
}

.content {
    background: #1f1f1f;
    height: 540px;
    text-align: center;
    padding: 32px;
    margin-top: 16.4%;
}

.content h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}